<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Guests</title>

    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="app" class="col-md-6 offset-md-3 my-5">

                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input id="name" name="name" class="form-control" v-model="name"/>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" id="checkbox" class="form-check-input" v-model="confirmed"/>
                    <label for="checkbox" class="form-check-label">RSVP</label>

                </div>

                <div class="form-group">
                    <label for="tableNumber" class="form-check-label">Table Number</label>
                    <select id="tableNumber" v-model="tableNumber" class="form-control">
                        <option disabled value="">Table number</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Dietary Requirements</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="vegetarian" value="vegetarian"
                               v-model="allergies">
                        <label class="form-check-label" for="vegetarian">Vegetarian</label>
                    </div>
                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="vegan" value="Vegan" v-model="allergies">
                        <label class="form-check-label" for="vegan">Vegan</label>

                    </div>
                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="dairyFree" value="Dairy-Free"
                               v-model="allergies">
                        <label class="form-check-label" for="dairyFree">Dairy-Free</label>

                    </div>
                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="glutenFree" value="Gluten-Free"
                               v-model="allergies">
                        <label class="form-check-label" for="glutenFree">Gluten-Free</label>

                    </div>

                </div>

                <div class="btn btn-block btn-success" v-on:click="addGuest">Add {{ name }} to the list</div>

                <table class="table  table-striped mt-5">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">RSVP</th>
                        <th scope="col">Table</th>
                        <th scope="col">Dietary Requirements</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(guest, index) in guests">
                        <td>{{ guest.name}}</td>
                        <td>{{ guest.confirmed }}</td>
                        <td>{{ guest.tableNumber }}</td>
                        <td>{{ guest.allergies }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            name: '',
            confirmed: false,
            tableNumber: '',
            allergies: [],
            guests: []
        },
        methods: {
            addGuest: function () {
                console.log(`Adding guest ${this.name} ${this.confirmed} ${this.tableNumber} ${this.allergies}`)
                let guest = {name: this.name, confirmed: this.confirmed, tableNumber: this.tableNumber, allergies: this.allergies}
                this.guests.push(guest)

                this.name = ''
                this.confirmed = false
                this.tableNumber = ''
                this.allergies = []
            }
        }
    })
</script>
</body>
</html>